In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
# Merging A and B

A = [1,2,3,4,5,6]
B = [13, 21, 34]

A_B = A+B
A_B

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [9]:
# Creating an identity matrix

np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [10]:
url = "https://bit.ly/HDSC-StageOneDataset"
df = pd.read_csv(url)

In [11]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [33]:
#Grouping by fuel_type

df_fuel_type = df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().to_frame().reset_index()
df_fuel_type[df_fuel_type['fuel_cost_per_unit_burned']==df_fuel_type['fuel_cost_per_unit_burned'].min()]

  fuel_type_code_pudl  fuel_cost_per_unit_burned
1                 gas                  13.659397

In [44]:
# standard deviation of the measure of energy per unit

round(df['fuel_mmbtu_per_unit'].std(), 2)

10.6

In [45]:
# 75th percentile of the measure of energy per unit

round(df['fuel_mmbtu_per_unit'].quantile(q=0.75), 2)

17.01

In [46]:
# Skewness for the fuel quantity burned in two decimal places?

round(df['fuel_qty_burned'].skew(), 2)

15.85

In [47]:
# Kurtosis for the fuel quantity burned in two decimal places?

round(df['fuel_qty_burned'].kurtosis(), 2)

651.37

In [92]:
#Checking for null values

check_null = df.isnull().sum()
check_null

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [93]:
#Percentage null values

round((check_null['fuel_unit']/len(df))*100,3)

0.61

In [54]:
df['fuel_cost_per_unit_burned'], df.corr()

(0        18.59
 1        18.58
 2        39.72
 3        47.21
 4         2.77
          ...
 29518     4.78
 29519     3.65
 29520     4.77
 29521     3.06
 29522     0.00
 Name: fuel_cost_per_unit_burned, Length: 29523, dtype: float64,
                               utility_id_ferc1  report_year  fuel_qty_burned  \
 utility_id_ferc1                      1.000000     0.093323        -0.057447
 report_year                           0.093323     1.000000         0.012952
 fuel_qty_burned                      -0.057447     0.012952         1.000000
 fuel_mmbtu_per_unit                  -0.066946    -0.110853        -0.080946
 fuel_cost_per_unit_burned            -0.037863     0.013599        -0.018535
 fuel_cost_per_unit_delivered         -0.016414    -0.014043        -0.003551
 fuel_cost_per_mmbtu                   0.006122     0.010261        -0.001896

                               fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
 utility_id_ferc1                        -0.066946                  -0.037863
 report_year                             -0.110853                   0.013599
 fuel_qty_burned                         -0.080946                  -0.018535
 fuel_mmbtu_per_unit                      1.000000                  -0.010034
 fuel_cost_per_unit_burned               -0.010034                   1.000000
 fuel_cost_per_unit_delivered            -0.009039                   0.011007
 fuel_cost_per_mmbtu                     -0.005884                  -0.000437

                               fuel_cost_per_unit_delivered  \
 utility_id_ferc1                                 -0.016414
 report_year                                      -0.014043
 fuel_qty_burned                                  -0.003551
 fuel_mmbtu_per_unit                              -0.009039
 fuel_cost_per_unit_burned                         0.011007
 fuel_cost_per_unit_delivered                      1.000000
 fuel_cost_per_mmbtu                              -0.000109

                               fuel_cost_per_mmbtu
 utility_id_ferc1                         0.006122
 report_year                              0.010261
 fuel_qty_burned                         -0.001896
 fuel_mmbtu_per_unit                     -0.005884
 fuel_cost_per_unit_burned               -0.000437
 fuel_cost_per_unit_delivered            -0.000109
 fuel_cost_per_mmbtu                      1.000000  )

In [61]:
# Percentage change in the fuel cost per unit burned in 1998 compared to 1994?

coal_fuel = df[df['fuel_type_code_pudl']=='coal'][['fuel_type_code_pudl','fuel_cost_per_unit_burned', 'report_year']]
coal_fuel

      fuel_type_code_pudl  fuel_cost_per_unit_burned  report_year
0                    coal                     18.590         1994
1                    coal                     18.580         1994
2                    coal                     39.720         1994
3                    coal                     47.210         1994
5                    coal                     44.240         1994
...                   ...                        ...          ...
29503                coal                     26.775         2018
29510                coal                     14.760         2018
29516                coal                     14.760         2018
29517                coal                     13.690         2018
29521                coal                      3.060         2018

[8547 rows x 3 columns]

In [94]:
coal_fuel_year = coal_fuel.groupby('report_year')['fuel_cost_per_unit_burned'].mean()

coal_fuel_year

report_year
1994     31.546467
1995     30.677442
1996     29.454299
1997    104.897309
1998     27.616234
1999     38.361101
2000    249.203055
2001     41.622623
2002     27.623988
2003     94.085441
2004     29.913239
2005     34.281426
2006     37.928697
2007     39.288397
2008     44.507292
2009    142.805197
2010    280.467547
2011     52.634721
2012     53.657789
2013     55.093312
2014     52.244736
2015     49.769534
2016     46.447385
2017     45.983336
2018     44.967758
Name: fuel_cost_per_unit_burned, dtype: float64

In [95]:
Percentage_change = ((coal_fuel_year[1998] - coal_fuel_year[1994])/(coal_fuel_year[1994])) * 100
Percentage_change

-12.458551963280119

In [97]:
# Which year has the highest average fuel cost per unit delivered?


coal_fuel_year2 = df.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().reset_index()

coal_fuel_year2[coal_fuel_year2['fuel_cost_per_unit_delivered']==coal_fuel_year2['fuel_cost_per_unit_delivered'].max()]

   report_year  fuel_cost_per_unit_delivered
3         1997                  11140.197239